<!-- Travel Section -->
<section id="travel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Arrivée</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Avion</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent hendrerit ultricies pharetra. Donec maximus at neque a vehicula.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Voiture</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent hendrerit ultricies pharetra. Donec maximus at neque a vehicula.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-train fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Train</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent hendrerit ultricies pharetra. Donec maximus at neque a vehicula.</p>
            </div>
        </div>
    </div>
</section>