<!-- Bridal Party Section -->
<section id="bridal_party">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Bridal Party</h2>
            </div>
        </div>
        <div class="row">
            {% for member in site.data.en.bridalparty %}
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="/wedding-template/img/bridal/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                    <h4>{{ member.name }}</h4>
                    <p class="text-muted team-position">{{ member.position }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>