<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">What will the weather be like?</h4>  
            <p class="largepad text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac semper lacus. Nullam id nunc elementum nibh tincidunt elementum eget id leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
            <h4 class="service-heading">What is the dress code?</h4>  
            <p class="largepad text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac semper lacus. Nullam id nunc elementum nibh tincidunt elementum eget id leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
            <h4 class="service-heading">Will transportation be arranged?</h4>  
            <p class="largepad text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac semper lacus. Nullam id nunc elementum nibh tincidunt elementum eget id leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
        </div>
    </div>
</section>