<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span>
                <a class="brand page-scroll" href="#page-top" style="text-decoration:none">{{site.title}}</a>&nbsp;&nbsp;&nbsp;
                <a href="/wedding-template/en" class="btn-m">EN</a>
                <a href="/wedding-template/fr" class="btn-m">FR</a> 
            </span>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#events">Events</a>
                </li>
                <li>
                    <a class="page-scroll" href="#venue">Venue</a>
                </li>
                <li>
                    <a class="page-scroll" href="#travel">Travel</a>
                </li>
                <li>
                    <a class="page-scroll" href="#stay">Stay</a>
                </li>
                <li>
                    <a class="page-scroll hidden-xs hidden-sm" href="#portfolio">Things To Do</a>
                </li>
                <li>
                    <a class="page-scroll" href="#our_story">Our Story</a>
                </li>
                <li>
                    <a class="page-scroll" href="#FAQ">FAQ</a>
                </li>
                <li>
                    <a class="page-scroll hidden-xs hidden-sm hidden-md" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">The Cat and the Dog<br>are getting married</div>
            <div class="intro-lead-in">DATE</div>
            <div class="intro-lead-in">Somewhere nice</div>
            <a href="#events" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>
